---
import { getCollection } from "astro:content";
import MasterLayout from "../layouts/MasterLayout.astro";
import ShaderWrapper from "../components/ShaderWrapper.astro";
import StoryWrapper from "../components/StoryWrapper.astro";
import Button from "../components/Button.astro";
const title = "Profile";
const layout = "info";
const work = await getCollection("work");

const workExperience = [
  {
    startDate: "06/2024",
    endDate: "Now",
    projectName: "GamePal",
    projectArtwork:
      "https://images.unsplash.com/photo-1525465506244-dbc4f9638b42?q=80&w=5342&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    projectDescription:
      "Over the course of 4 months, I learned Swift and SwiftUI by building my own game collection tracker app for iOS. I've been designing for iOS for almost 12 years now and was always held back by the fact that I needed to learn Objective-C",
  },
  {
    startDate: "08/2023",
    endDate: "12/2024",
    projectName: "Yally",
    projectArtwork:
      "https://images.unsplash.com/photo-1735194750269-c4597dbb405c?q=80&w=5232&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    projectDescription:
      "Immo Brown is an exclusive real estate agency based in West-Flanders, Belgium. Their website was in dire need of a redesign to reposition the agency back on top in this competitive market. I had around 2 weeks time to redesign their site and marketing direction. From the very beginning, I opted to design their website with a mobile-first approach in mind.",
  },
  {
    startDate: "07/2023",
    endDate: "09/2022",
    projectName: "Planticus",
    projectArtwork:
      "https://images.unsplash.com/photo-1732077016620-bd945b8be3b2?q=80&w=3136&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    projectDescription:
      "A crucial aspect of the UI are the file icons. These little squares are dynamic spaces where we can display a little preview of the file (this being a later addition) or simply show a placeholder icon. Since most of the UI has been kept clean and subdued in style, this was the first thing I started working on. Over the course of 2-3 weeks, I created a total of 4 high-fidelity icon sets.",
  },
  {
    startDate: "05/2019",
    endDate: "11/2022",
    projectName: "Helpper",
    projectArtwork:
      "https://images.unsplash.com/photo-1735942327256-f132d575b7e9?q=80&w=5340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    projectDescription:
      "During the design process, I communicated primarily with Helpper’s CEO. My designs were presented as a Figma prototype so we could see the flows in action. This proved to be an essential part of the workflow as the team at Helpper could easily provide feedback on the work that has been done. I’d then take that feedback and present the next round.",
  },
];

const projectsOrder = [
  "gamepal",
  "helpper",
  "scorecard",
  "realo",
  "shelf",
  "immo brown",
  "diabetik",
];

const sortedWork = work.sort((a: any, b: any) => {
  const orderA = projectsOrder.indexOf(a.data.name.toLowerCase());
  const orderB = projectsOrder.indexOf(b.data.name.toLowerCase());
  return orderA - orderB;
});
---

<MasterLayout title={title} layout={layout}>
  <section
    data-blurRevealFromBottom
    class="col-span-full grid grid-cols-subgrid gap-y-[calc(var(--u-grid-gap)_*_1.25)]"
  >
    <section
      class="col-span-full grid grid-cols-subgrid !gap-y-8 h-[40vh] content-end"
    >
      <header class="col-span-7 t--hero">
        <h2 class="leading-tight indent-32 text-balance">
          I design and build digital experiences for web and
          mobile&mdash;wherever you click or tap.
        </h2>
        <!-- <StoryWrapper /> -->
      </header>
      <div class="col-span-full flex items-center gap-6">
        <Button href="mailto:hey@jeremys.be" label="Email" />
        <Button href="https://threads.net/@jereswinnen" label="Threads" />
        <Button href="https://mstdn.social/@jeremys" label="Mastodon" />
      </div>
    </section>
    <section
      class="col-span-full grid grid-cols-subgrid pt-6 border-t border-stone-950 dark:border-white/20"
    >
      <aside data-imageClipFromBottom class="col-start-3 col-span-2">
        <ShaderWrapper
          sources={[
            {
              srcset: "/images/profileShot.avif",
              type: "image/avif",
            },
            {
              srcset: "/images/profileShot.webp",
              type: "image/webp",
            },
          ]}
          fallbackSrc="/images/profileShot.jpg"
          alt="Hi there!"
        />
      </aside>
      <header class="col-start-5 col-span-1">
        <h3 class="font-medium">
          Profile <span
            class="font-[system-ui,sans-serif] !font-normal opacity-40"
            >&searr;</span
          >
        </h3>
      </header>
      <article class="col-start-6 col-span-full text-lg">
        <p>
          With a sharp eye for detail and a hands-on approach, I craft
          interfaces that are both visually striking and highly functional. I
          believe that great design goes beyond surface-level aesthetics—it
          should make users feel understood and create an experience
          that&rsquo;s both intuitive and delightful. From concept to code, I
          bring ideas to life with precision and purpose, ensuring every element
          serves a function while contributing to the overall user experience.
        </p><p>
          I&rsquo;ve worked with individuals and small teams in tech and real
          estate, delivering designs that don&rsquo;t just look good—they work
          effortlessly. Whether it&rsquo;s designing a seamless, user-friendly
          mobile app or refining a brand&rsquo;s online presence, I&rsquo;m
          dedicated to making sure every project I work on improves the user
          experience and adds real value to the target audience. I take a
          holistic approach to design, considering not only how things look but
          how they function across devices and platforms. From prototyping to
          the final lines of code, I focus on creating responsive, reliable, and
          easy-to-navigate solutions.
        </p><p>
          Whether it&rsquo;s breathing new life into a digital presence or
          building a fully responsive website from the ground up, I thrive on
          blending aesthetics with practicality. I work closely with clients to
          ensure their vision is fully realized while also making sure the end
          product is easy to maintain, scalable, and adaptable to future needs.
        </p>
      </article>
    </section>
    <section
      class="col-span-full grid grid-cols-subgrid pt-6 border-t border-zinc-950 dark:border-white/20"
    >
      <header class="col-start-5 col-span-1">
        <h3 class="font-medium">
          Skills <span
            class="font-[system-ui,sans-serif] !font-normal opacity-40"
            >&searr;</span
          >
        </h3>
      </header>
      <div class="col-start-6 col-span-full">
        <ul
          class="flex flex-col gap-6 [&>li]:flex [&>li]:flex-col [&>li>h3]:text-2xl [&>li>p]:opacity-70 text-base"
        >
          <li>
            <h3>User Experience Design</h3>
            <p>
              Focusing on usability, accessibility, and user needs to create
              seamless interactions.
            </p>
          </li>
          <li>
            <h3>User Interface Design</h3>
            <p>
              Designing clear, functional, and visually cohesive interfaces for
              digital products.
            </p>
          </li>
          <li>
            <h3>Website Design</h3>
            <p>
              Structuring layouts, typography, and content to create
              well-organized web experiences.
            </p>
          </li>
          <li>
            <h3>Front-end Web Development</h3>
            <p>
              Translating designs into responsive, maintainable, and efficient
              code for the web.
            </p>
          </li>
          <li>
            <h3>iOS App Development</h3>
            <p>
              Building native iOS applications with a focus on performance and
              platform guidelines.
            </p>
          </li>
        </ul>
      </div>
    </section>
    <section
      class="col-span-full grid grid-cols-subgrid pt-6 border-t border-zinc-950 dark:border-white/20"
    >
      <header class="col-span-full">
        <h3 class="font-medium">
          Work experience <span
            class="font-[system-ui,sans-serif] !font-normal opacity-40"
            >&searr;</span
          >
        </h3>
      </header>
      <ul class="col-span-full grid grid-cols-subgrid !gap-y-0 text-lg">
        {
          workExperience.map((work) => (
            <li
              data-projectListImageReveal
              class="pt-8 pb-5 col-span-full grid grid-cols-subgrid items-end border-b border-stone-900/20 dark:border-white/20 transition-all ease-in-out duration-300 hover:border-stone-900/100 dark:hover:border-white"
            >
              <aside class="col-span-2 flex flex-col gap-5">
                <figure class="h-0 overflow-hidden bg-stone-100 dark:bg-stone-900">
                  <img
                    class="object-contain"
                    src={work.projectArtwork}
                    alt={`${work.projectName} artwork`}
                  />
                </figure>
                <div class="flex flex-col">
                  <div class="flex gap-1 text-sm opacity-60">
                    <span>{work.startDate}</span>
                    <span class="font-[system-ui,sans-serif] !font-normal">
                      &rarr;
                    </span>
                    <span>{work.endDate}</span>
                  </div>
                  <p class="text-2xl">{work.projectName}</p>
                </div>
              </aside>
              <article class="col-start-6 col-span-full text-base">
                <p>{work.projectDescription}</p>
              </article>
            </li>
          ))
        }
      </ul>
    </section>
  </section>
</MasterLayout>
