---
import Brand from "./Brand.astro";
import Shader from "./Shader.astro";
import MusicModal from "./MusicModal.astro";
import { getCollection } from "astro:content";

const { class: className, ...rest } = Astro.props;

// Fetch the latest music entry
const music = await getCollection("music");
const latestTrack = music.sort(
  (a: any, b: any) => b.data.date.getTime() - a.data.date.getTime()
)[0];
---

<aside
  class:list={["h-screen pb-7 pt-4 flex flex-col justify-between", className]}
  {...rest}
>
  <header data-blurRevealFromTop class="flex gap-4 items-center">
    <a href="/">
      <Brand class="text-current dark:text-white" />
    </a>
    <div class="flex flex-col text-sm">
      <h1><a href="/" class="font-semibold">Jeremy Swinnen</a></h1>
      <em class="opacity-60">Software Designer</em>
    </div>
  </header>
  <article
    data-textBlurFadeIn
    class="[&>*]:indent-8 [&>*]:!mb-0 t--prose [&>*]:!opacity-100"
  >
    <p>
      I&rsquo;m a designer and developer from Belgium with <em
        class="font-medium">15+ years of experience</em
      >
      in digital product design.
    </p>
    <p>
      Currently, I&rsquo;m looking for a full-time UX/UI designer role. Want to
      work with me? Feel free to reach out via <a
        href="mailto:hey@jeremys.be"
        class="font-medium">email</a
      >.
    </p>
  </article>
  <div class="flex items-end gap-2">
    <Shader
      sources={[
        { srcset: "/images/profileShot.avif", type: "image/avif" },
        { srcset: "/images/profileShot.webp", type: "image/webp" },
      ]}
      fallbackSrc="/images/profileShot.jpg"
      alt="Hi there!"
    />

    <!-- <picture>
      <source srcset="/images/profileShot.avif" type="image/avif" />
      <source srcset="/images/profileShot.webp" type="image/webp" />
      <img
        data-imageClipFromBottom
        class="max-h-[40vh]"
        src="/images/profileShot.jpg"
        alt="Hi there!"
      />
    </picture> -->

    <div
      data-blurRevealFromLeft
      class="flex flex-col gap-2 items-center justify-end"
    >
      <span class="[writing-mode:vertical-lr] text-right text-sm font-medium"
        >{latestTrack.data.title} &mdash; {latestTrack.data.artist}</span
      >
      <div class="relative inline-block overflow-hidden w-7 h-7">
        <img
          class="vinylMask block w-full h-full object-cover"
          src={latestTrack.data.albumCover}
          alt={`${latestTrack.data.title} album cover`}
        />
      </div>
    </div>
    <!-- <button
      onclick="openModal()"
      class="flex flex-col gap-2 items-center justify-end"
    >
      <span class="[writing-mode:vertical-lr] text-right text-sm font-medium"
        >{latestTrack.data.title} &mdash; {latestTrack.data.artist}</span
      >
      <div class="relative inline-block overflow-hidden w-7 h-7">
        <img
          class="vinylMask block w-full h-full object-cover"
          src={latestTrack.data.albumCover}
          alt={`${latestTrack.data.title} album cover`}
        />
      </div>
    </button> -->
  </div>

  <MusicModal />
</aside>
