---
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"books">;
  datetime: string;
  time: string;
  Content: any;
}

const { entry, datetime, time, Content } = Astro.props;
---

<>
  <section class="flex justify-end">
    <a
      href={`/blog/books/${entry.slug}`}
      class="text-sm opacity-70 hover:opacity-100"
    >
      <time datetime={datetime}>{time}</time>
    </a>
  </section>
  <section class="flex flex-col gap-3">
    <header>
      <a
        href={entry.data.url}
        class="flex gap-2 px-2 py-1 bg-stone-100 rounded"
      >
        <img
          src={entry.data.cover}
          alt={`${entry.data.title} by ${entry.data.author}`}
          class="w-8 h-auto rounded"
        />
        <div class="flex flex-col">
          <span class="font-semibold">{entry.data.title}</span>
          <span class="text-sm opacity-70">{entry.data.author}</span>
        </div>
        {
          entry.data.rating && (
            <div class="text-sm opacity-70">Rating: {entry.data.rating}</div>
          )
        }
      </a>
    </header>
    {Content && <Content />}
  </section>
</>
