---
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"links">;
  datetime: string;
  time: string;
  Content: any;
}

const { entry, datetime, time, Content } = Astro.props;
---

<>
  <section class="flex justify-end">
    <a
      href={`/blog/links/${entry.slug}`}
      class="text-sm opacity-70 hover:opacity-100"
    >
      <time datetime={datetime}>{time}</time>
    </a>
  </section>
  <section class="flex flex-col gap-3">
    <a
      href={entry.data.url}
      class="flex flex-col px-2 py-1 bg-stone-100 rounded"
    >
      <span class="font-semibold">{entry.data.title}</span>
      <span class="text-sm opacity-70">{entry.data.url}</span>
    </a>
    <div class="flex gap-3">
      <span class="w-[3px] h-full bg-stone-300 rounded-full"></span>
      {Content && <Content />}
    </div>
  </section>
</>
