---
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"links">;
  datetime: string;
  time: string;
  Content: any;
}

const { entry, datetime, time, Content } = Astro.props;
---

<div class="space-y-2">
  <div class="flex items-baseline gap-4">
    <a
      href={`/blog/links/${entry.slug}`}
      class="text-sm opacity-70 hover:text-brandOrange"
    >
      <time datetime={datetime}>{time}</time>
    </a>
    <a href={entry.data.url} class="text-lg font-medium hover:text-brandOrange">
      {entry.data.title} →
    </a>
  </div>
  {
    Content && (
      <div class="prose">
        <Content />
      </div>
    )
  }
</div>

