---
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"notes">;
  datetime: string;
  time: string;
  Content: any;
}

const { entry, datetime, time, Content } = Astro.props;
---

<>
  <section class="flex justify-end">
    <a
      href={`/blog/notes/${entry.slug}`}
      class="text-sm opacity-70 hover:opacity-100"
    >
      <time datetime={datetime}>{time}</time>
    </a>
  </section>
  {
    Content && (
      <section class="flex flex-col">
        <header>
          <h3>
            <a
              href={`/blog/notes/${entry.slug}`}
              class="text-base font-semibold hover:underline"
            >
              {entry.data.title}
            </a>
          </h3>
        </header>
        <Content />
      </section>
    )
  }
</>
