---
import "../assets/styles/global.scss";
import Aside from "../components/Aside.astro";
import Header from "../components/Header.astro";

const { title, description, theme, layout } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title ? `${title} | Jeremy Swinnen` : "Jeremy Swinnen"}
    </title>
    {description && <meta name="description" content={description} />}
  </head>
  <body
    class={`${theme ? theme : ""} o-container font-sans dark:bg-stone-950 text-stone-900 dark:text-white/85 selection:bg-stone-200 selection:dark:bg-stone-400`}
  >
    <div class={`o-grid o-grid--${layout || "default"}`}>
      {layout === "home" && <Aside class="md:sticky md:top-0" />}
      <main class="o-grid--inner outline-none">
        <Header
          data-blurRevealFromTop
          class="md:sticky md:top-0 col-span-full"
          logo={layout === "home" ? false : true}
        />
        <slot />
      </main>
    </div>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const cursor = document.createElement("div");
    cursor.classList.add("animated-cursor");
    document.body.style.cursor = "none";
    document.body.appendChild(cursor);

    document.addEventListener("mousemove", (e) => {
      cursor.style.left = `${e.clientX}px`;
      cursor.style.top = `${e.clientY}px`;
    });
  });
</script>

<!-- <script>
  import {
    typewriterEffect,
    imageClipFromBottom,
    textBlurFadeIn,
    imageBlurReveal,
    blurRevealFromTop,
    blurRevealFromBottom,
    blurRevealFromLeft,
  } from "../assets/scripts/gsapAnimations.js";
  typewriterEffect();
  imageClipFromBottom();
  textBlurFadeIn();
  imageBlurReveal();
  blurRevealFromTop();
  blurRevealFromBottom();
  blurRevealFromLeft();
</script> -->
